.aboutme-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-section-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  font-family: var(--plus-jakarta-sans);
  color: var(--color-creamson);
  button {
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #1d1d1d;
    border-radius: 5px;
    background-color: var(--color-creamson);
    border: 1px solid var(--color-creamson);
    -webkit-filter: drop-shadow(5px 5px 0 #000000b0)
      drop-shadow(5px 10px 0 #000000b0);
    filter: drop-shadow(5px 5px 0 #000000b0) drop-shadow(5px 10px 0 #000000b0);
  }
  button:hover {
    scale: 1.1;
    transition: 0.3s;
  }
}

.fp-overflow {
  width: 90%;
}
.aboutme-section-description {
  font-size: 22px;
  width: 700px;
}

.aboutme-section-content__image {
  animation: profile_animate 8s ease-in-out infinite 1s;
  box-shadow: 0 5px 10px #000;
  height: 50%;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (max-width: 450px) {
  .aboutme-section-content__image {
    height: auto;
    width: 100%;
  }

  .aboutme-section-content {
    padding: 70px 0 70px 0;
  }
}
